table {
    background-color: #fff;
    border: 1px solid #ddd;
}

th {
    background-color: #e8f1fa;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #dfe7f3;
}
